################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.github/
/.vs/
/TasksApi/.vs/
/TasksApi/TasksApi/bin/
/TasksApi/TasksApi/obj/
/HTTPMethodsWithDB/.vs/
/HTTPMethodsWithDB/bin/
/HTTPMethodsWithDB/obj/
/LearningServerRebuild/.vs/
/LearningServerRebuild/LearningServerRebuild/bin/
/LearningServerRebuild/LearningServerRebuild/obj/
/POO/.vs/
/POO/bin/
/POO/obj/



/.vs/VSWorkspaceState.json
